@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Titillium+Web:wght@300;400;600&display=swap');


/*custom properties*/
:root {
	--main-color: #0075c8;
  }

/*font*/

body {
    font-family: 'Inter', sans-serif;
}

/* header */
.upper_header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.lower_header {
	background-color: var(--main-color);
}

.lower_header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


ul {
	list-style: none;
	display: flex;
	margin-bottom: 0;
	gap: 30px;
}

ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

h1 {
    color: #fff;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0;S
}

.myaccount_icon::before {
	content: url(asset/person-fill.svg);
	filter: invert(26%) sepia(99%) saturate(1614%) hue-rotate(186deg) brightness(96%) contrast(101%);
}

.settings_icon::before {
	content: url(asset/gear-fill.svg);
	filter: invert(26%) sepia(99%) saturate(1614%) hue-rotate(186deg) brightness(96%) contrast(101%);
}

.menu_icon::before {
	content: url(asset/list.svg);
	filter: invert(26%) sepia(99%) saturate(1614%) hue-rotate(186deg) brightness(96%) contrast(101%);
	opacity: 1;
}

/* main */
.card {
    border: solid 2px red;
}

#form {
    display: none;
}

.display {
    display: block !important;
}